#**Amazon Sales Report Analysis using SQL**

<h2>Import Amazon Sales csv</h2>

In [2]:
from google.colab import files

uploaded = files.upload()

Saving amazon_sales.csv to amazon_sales.csv

In [3]:
import pandas as pd

df = pd.read_csv("amazon_sales.csv")
df.head()

<ipython-input-3-88a9aac4c664>:3: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("amazon_sales.csv")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

<h2>Create a sqlite3 connection</h2>

In [4]:
import sqlite3

conn = sqlite3.connect("mydb.db")
df.to_sql('amazon_sales', con = conn , index = False , if_exists = 'replace')

128975

In [5]:
!pip install ipython-sql==0.3.9 prettytable==3.7.0 sqlalchemy==1.4.46

Collecting ipython-sql==0.3.9
  Downloading ipython_sql-0.3.9-py2.py3-none-any.whl.metadata (13 kB)
Collecting prettytable==3.7.0
  Downloading prettytable-3.7.0-py3-none-any.whl.metadata (26 kB)
Collecting sqlalchemy==1.4.46
  Downloading SQLAlchemy-1.4.46-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (10 kB)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.3.9) (7.34.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.3.9) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.3.9) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.3.9) (0.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable==3.7.0) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy==1.4.46) (3.2.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.3.9) (75.2.0)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql==0.3.9)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.3.9) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.3.9) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.3.9) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.3.9) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.3.9) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.3.9) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.3.9) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.3.9) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.3.9) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.3.9) (0.7.0)
Downloading ipython_sql-0.3.9-py2.py3-none-any.whl (21 kB)
Downloading prettytable-3.7.0-py3-none-any.whl (27 kB)
Downloading SQLAlchemy-1.4.46-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 22.3 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 41.9 MB/s eta 0:00:00
Installing collected packages: sqlalchemy, prettytable, jedi, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.40
    Uninstalling SQLAlchemy-2.0.40:
      Successfully uninstalled SQLAlchemy-2.0.40
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.16.0
    Uninstalling prettytable-3.16.0:
      Successfully uninstalled prettytable-3.16.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.5.0
    Uninstalling ipython-sql-0.5.0:
      Successfully uninstalled ipython-sql-0.5.0
Successfully installed ipython-sql-0.3.9 jedi-0.19.2 prettytable-3.7.0 sqlalchemy-1.4.46

In [6]:
%load_ext sql
%sql sqlite:///mydb.db

'Connected: @mydb.db'

In [7]:
from sql import magic
magic.style = 'DEFAULT'

<h2>Sometimes sqlite cant load default display style so you gotta let it know it is plain style</h2>

In [8]:
import prettytable
prettytable.__dict__['DEFAULT'] = prettytable.DEFAULT

In [9]:
%%sql
SELECT * FROM amazon_sales LIMIT 1;

 * sqlite:///mydb.db
Done.

[(0, '405-8078784-5731545', '04-30-22', 'Cancelled', 'Merchant', 'Amazon.in', 'Standard', 'SET389', 'SET389-KR-NP-S', 'Set', 'S', 'B09KXVBD7Z', None, 0, 'INR', 647.62, 'MUMBAI', 'MAHARASHTRA', 400081.0, 'IN', None, 0, 'Easy Ship', None)]

In [10]:
%%sql
PRAGMA table_info(amazon_sales);

 * sqlite:///mydb.db
Done.

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'Order ID', 'TEXT', 0, None, 0),
 (2, 'Date', 'TEXT', 0, None, 0),
 (3, 'Status', 'TEXT', 0, None, 0),
 (4, 'Fulfilment', 'TEXT', 0, None, 0),
 (5, 'Sales Channel ', 'TEXT', 0, None, 0),
 (6, 'ship-service-level', 'TEXT', 0, None, 0),
 (7, 'Style', 'TEXT', 0, None, 0),
 (8, 'SKU', 'TEXT', 0, None, 0),
 (9, 'Category', 'TEXT', 0, None, 0),
 (10, 'Size', 'TEXT', 0, None, 0),
 (11, 'ASIN', 'TEXT', 0, None, 0),
 (12, 'Courier Status', 'TEXT', 0, None, 0),
 (13, 'Qty', 'INTEGER', 0, None, 0),
 (14, 'currency', 'TEXT', 0, None, 0),
 (15, 'Amount', 'REAL', 0, None, 0),
 (16, 'ship-city', 'TEXT', 0, None, 0),
 (17, 'ship-state', 'TEXT', 0, None, 0),
 (18, 'ship-postal-code', 'REAL', 0, None, 0),
 (19, 'ship-country', 'TEXT', 0, None, 0),
 (20, 'promotion-ids', 'TEXT', 0, None, 0),
 (21, 'B2B', 'INTEGER', 0, None, 0),
 (22, 'fulfilled-by', 'TEXT', 0, None, 0),
 (23, 'Unnamed: 22', 'INTEGER', 0, None, 0)]

In [17]:
%%sql

CREATE TABLE amzsales AS
SELECT "index" , "Order ID", "Date","Status","Sales Channel", "Category","Size","Courier Status","Qty","currency","Amount","ship-city","ship-state","ship-country"
FROM amazon_sales;

 * sqlite:///mydb.db
Done.

[]

In [20]:
%%sql
DROP TABLE sales;

 * sqlite:///mydb.db
Done.

[]

In [21]:
%%sql
DROP TABLE amazon_sales;

 * sqlite:///mydb.db
Done.

[]

In [22]:
%%sql
SELECT * from amzsales limit 5;

 * sqlite:///mydb.db
Done.

[(0, '405-8078784-5731545', '04-30-22', 'Cancelled', 'Sales Channel', 'Set', 'S', None, 0, 'INR', 647.62, 'MUMBAI', 'MAHARASHTRA', 'IN'),
 (1, '171-9198151-1101146', '04-30-22', 'Shipped - Delivered to Buyer', 'Sales Channel', 'kurta', '3XL', 'Shipped', 1, 'INR', 406.0, 'BENGALURU', 'KARNATAKA', 'IN'),
 (2, '404-0687676-7273146', '04-30-22', 'Shipped', 'Sales Channel', 'kurta', 'XL', 'Shipped', 1, 'INR', 329.0, 'NAVI MUMBAI', 'MAHARASHTRA', 'IN'),
 (3, '403-9615377-8133951', '04-30-22', 'Cancelled', 'Sales Channel', 'Western Dress', 'L', None, 0, 'INR', 753.33, 'PUDUCHERRY', 'PUDUCHERRY', 'IN'),
 (4, '407-1069790-7240320', '04-30-22', 'Shipped', 'Sales Channel', 'Top', '3XL', 'Shipped', 1, 'INR', 574.0, 'CHENNAI', 'TAMIL NADU', 'IN')]

SELECT, WHERE, ORDER BY, GROUP BY

In [28]:
%%sql
select "Category", count(*) as total
from amzsales
group by "Category"
having total >1000
order by total;

 * sqlite:///mydb.db
Done.

[('Ethnic Dress', 1159),
 ('Top', 10622),
 ('Western Dress', 15500),
 ('kurta', 49877),
 ('Set', 50284)]

In [31]:
%%sql
select "Order ID", "Category"
from amzsales
where "Amount">=1000
and "ship-city"=="MUMBAI"
limit 5;

 * sqlite:///mydb.db
Done.

[('171-6655820-6440356', 'Set'),
 ('171-1584788-8864335', 'Set'),
 ('407-5776821-9327552', 'Set'),
 ('408-3201739-2676310', 'Set'),
 ('406-4919920-0965963', 'Set')]

#Create views for analysis

In [33]:
%%sql
create view chennai_sales as
select *
from amzsales
where "ship-city" == "CHENNAI";

 * sqlite:///mydb.db
(sqlite3.OperationalError) table chennai_sales already exists
[SQL: create view chennai_sales as
select *
from amzsales
where "ship-city" == "CHENNAI";]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [34]:
%%sql
select * from chennai_sales where "Category"=="kurta" limit 5;

 * sqlite:///mydb.db
Done.

[(10, '407-5633625-6970741', '04-30-22', 'Shipped', 'Sales Channel', 'kurta', 'S', 'Shipped', 1, 'INR', 685.0, 'CHENNAI', 'TAMIL NADU', 'IN'),
 (70, '405-9966506-3155561', '04-30-22', 'Shipped - Delivered to Buyer', 'Sales Channel', 'kurta', 'XL', 'Shipped', 1, 'INR', 696.0, 'CHENNAI', 'TAMIL NADU', 'IN'),
 (92, '405-1879750-2639521', '04-30-22', 'Shipped - Delivered to Buyer', 'Sales Channel', 'kurta', '3XL', 'Shipped', 1, 'INR', 725.0, 'CHENNAI', 'TAMIL NADU', 'IN'),
 (134, '402-8746990-6412346', '04-30-22', 'Shipped', 'Sales Channel', 'kurta', 'XXL', 'Shipped', 1, 'INR', 442.0, 'CHENNAI', 'TAMIL NADU', 'IN'),
 (335, '408-8991303-6559523', '04-30-22', 'Shipped', 'Sales Channel', 'kurta', 'XL', 'Shipped', 1, 'INR', 399.0, 'CHENNAI', 'TAMIL NADU', 'IN')]

#Subqueries

In [35]:
%%sql
select *
from amzsales
where "Amount">=(select AVG("Amount") from amzsales)
limit 5;

 * sqlite:///mydb.db
Done.

[(3, '403-9615377-8133951', '04-30-22', 'Cancelled', 'Sales Channel', 'Western Dress', 'L', None, 0, 'INR', 753.33, 'PUDUCHERRY', 'PUDUCHERRY', 'IN'),
 (5, '404-1490984-4578765', '04-30-22', 'Shipped', 'Sales Channel', 'Set', 'XL', 'Shipped', 1, 'INR', 824.0, 'GHAZIABAD', 'UTTAR PRADESH', 'IN'),
 (6, '408-5748499-6859555', '04-30-22', 'Shipped', 'Sales Channel', 'Set', 'L', 'Shipped', 1, 'INR', 653.0, 'CHANDIGARH', 'CHANDIGARH', 'IN'),
 (10, '407-5633625-6970741', '04-30-22', 'Shipped', 'Sales Channel', 'kurta', 'S', 'Shipped', 1, 'INR', 685.0, 'CHENNAI', 'TAMIL NADU', 'IN'),
 (13, '408-7955685-3083534', '04-30-22', 'Shipped', 'Sales Channel', 'Set', 'XS', 'Shipped', 1, 'INR', 657.0, 'MUMBAI', 'MAHARASHTRA', 'IN')]

In [36]:
file2 = files.upload()

Saving report.csv to report.csv

In [38]:
df = pd.read_csv("report.csv")
df.head()

   index       SKU Code Design No.  Stock       Category Size Color
0      0    AN201-RED-L      AN201    5.0  AN : LEGGINGS    L   Red
1      1    AN201-RED-M      AN201    5.0  AN : LEGGINGS    M   Red
2      2    AN201-RED-S      AN201    3.0  AN : LEGGINGS    S   Red
3      3   AN201-RED-XL      AN201    6.0  AN : LEGGINGS   XL   Red
4      4  AN201-RED-XXL      AN201    3.0  AN : LEGGINGS  XXL   Red

In [40]:
df.to_sql("report",con =conn ,index=False ,if_exists='replace')

9271

In [58]:
file2 = files.upload()

Saving amazon_sales.csv to amazon_sales (1).csv

In [59]:
df = pd.read_csv("amazon_sales.csv")
df.head()

<ipython-input-59-9dd541bc40c5>:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("amazon_sales.csv")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [60]:
df.to_sql("amz",con =conn ,index=False ,if_exists='replace')

128975

In [64]:
%%sql
alter table amz
rename column "Order ID" to "order_id"

 * sqlite:///mydb.db
Done.

[]

#Inner Join

In [65]:
%%sql
select a.order_id , r.Color
from report as r
left join amz as a
on r.SKU = a.SKU
limit 5;

 * sqlite:///mydb.db
Done.

[(None, 'Red'),
 ('403-7294691-2015536', 'Red'),
 ('404-8297237-4618714', 'Red'),
 (None, 'Red'),
 ('402-2756527-8577915', 'Red')]

#Indexing

In [66]:
%%sql
create index idx_sku on amz("SKU");

 * sqlite:///mydb.db
Done.

[]

In [72]:
%%sql
select * from amz where "SKU"="JNE3671-TU-XXXL" limit 5;

 * sqlite:///mydb.db
Done.

[(4, '407-1069790-7240320', '04-30-22', 'Shipped', 'Amazon', 'Amazon.in', 'Expedited', 'JNE3671', 'JNE3671-TU-XXXL', 'Top', '3XL', 'B098714BZP', 'Shipped', 1, 'INR', 574.0, 'CHENNAI', 'TAMIL NADU', 600073.0, 'IN', None, 0, None, None),
 (9007, '402-8599292-7500332', '04-25-22', 'Shipped', 'Amazon', 'Amazon.in', 'Expedited', 'JNE3671', 'JNE3671-TU-XXXL', 'Top', '3XL', 'B098714BZP', 'Shipped', 1, 'INR', 574.0, 'NEW DELHI', 'DELHI', 110009.0, 'IN', 'IN Core Free Shipping 2015/04/08 23-48-5-108', 0, None, None),
 (10692, '171-1858719-9652336', '04-24-22', 'Shipped', 'Amazon', 'Amazon.in', 'Expedited', 'JNE3671', 'JNE3671-TU-XXXL', 'Top', '3XL', 'B098714BZP', 'Shipped', 1, 'INR', 574.0, 'LUDHIANA', 'PUNJAB', 141001.0, 'IN', 'IN Core Free Shipping 2015/04/08 23-48-5-108', 0, None, None),
 (14372, '407-4483495-2235567', '04-21-22', 'Shipped', 'Amazon', 'Amazon.in', 'Expedited', 'JNE3671', 'JNE3671-TU-XXXL', 'Top', '3XL', 'B098714BZP', 'Shipped', 1, 'INR', 574.0, 'BENGALURU', 'KARNATAKA', 560068.0, 'IN', None, 0, None, None),
 (33254, '403-2872061-9573921', '04-10-22', 'Shipped', 'Amazon', 'Amazon.in', 'Expedited', 'JNE3671', 'JNE3671-TU-XXXL', 'Top', '3XL', 'B098714BZP', 'Shipped', 1, 'INR', 574.0, 'BANGALORE', 'KARNATAKA', 560103.0, 'IN', None, 0, None, None)]